
{% extends 'userlist/base.html' %}

{% block content %}
<header class="header">
  <div class="div-header">
    <a class="first-item"></a>
    <div>
      <nav>
        <ul>
          <!--  -->
          <li> 
            <button >
              <h1 class="hover-header-elem"> Преимущества Pretty VPN</h1>  
            </button>
          </li>
          <li class="li-prices">
            <h1 class="hover-header-elem">Цены</h1>
          </li>
          <li>
            <h1 class="hover-header-elem">Скачать</h1>
          </li>
          <li>
            <h1 class="hover-header-elem"><a href="{% url 'userlist:register' %}">Регистрация</a></h1>
          </li>
          <li>
            <h1 class="hover-header-elem"><a href="{% url 'userlist:login' %}">Вход</a></h1>
          </li>
          <!--  -->
        </ul>
      </nav>
    </div>
  </div>
</header>  
<section class="sec-pass">
  <div>
    контент текстом  
  </div>
  <div>
    какая-то картинка 
  </div>
</section>

{% endblock %}