{% extends "userlist/base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Создать аккаунт</h1>
    <p>Введите почту и придумайте пароль</p>
    <form id="registrationForm" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ user_form.email }}  <!-- Изменено на user_form -->
        </div>
        <div class="form-group">
            <label for="id_password">Password:</label>
            {{ user_form.password }}  <!-- Изменено на user_form -->
        </div>
        <div class="form-group">
            <label for="id_password_confirm">Confirm Password:</label>
            {{ user_form.password_confirm }}  <!-- Изменено на user_form -->
        </div>
        <button type="submit">Register</button>
    </form>
{% endblock %}